<!DOCTYPE html>
<html Lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Mission to Mars</title>
        <link rel="stylesheet" href="https//maxcdn.boostrapcdn.com/boostrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
        <div class="container">
                <div class="jumbotron text-center">
                    <h1>Mission to Mars</h1> 
                    <p>
                        <a class="btn btn-primary btn-lg" href="/scrape">Scrape New Data</a>
                    </p>
                </div>
        
            <!-- Mars News--> 
            <div class="row" id="mars-news">
                <div class="col-md-12"></div>
                <h4>{{mars.news_title}}</h4>
                <p>{{mars.news_paragraph}}</p>
            </div>
        </div>    
        
        <div class="row">
            <div class="col-md-8">
                <h2>Featured Mars Images</h2>
                <img src="{{mars.featured_image | default('static/images/error.png', true)}}"/>  <!--don't forget to create static folder with error.png-->
            </div>
            <div class="col-md-4">
                <h4>Current Weather of Mars</h4>
                <p>{{mars.weather}}</p>
            </div>
        </div>
        <div class="row">
               <div class="col-md-12">
                   <h4>Mars Facts</h4>
                    {{mars.facts}}
                </div> 
        </div>
       
        <div class="row">
            <div>
                    <h2>Mars Hemisphere</h2>
            </div>
            { % for hemishpere in mars.hemispheres %}
                <div class="col-md-6">
                    <div class="thumbnail"> 
                        <img src="{{hemisphere.img_url}}" alt="..."/>
                        <div class ="caption">
                            <h3>{{hemisphere.title}}</h3>
                        </div>
                    </div>
                </div>
            { % endfor %}
</body>
</html>

